<a href="https://colab.research.google.com/github/k275/machine-learning/blob/main/Encoding%20Techinques.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##1.Nominal /OHE Encoding
When we have a feature where variables are just names and there is no order or rank to this variable's feature. For example: City of person lives in, Gender of person, Marital Status, etcâ€¦ In the above example, We do not have any order or rank, or sequence.

In [30]:
import pandas as pd 
from sklearn.preprocessing import OneHotEncoder

In [31]:
##create a sample dataFrame with a categorical value
df=pd.DataFrame({
    'color':['red','blue','green','red','blue']
})

In [32]:
df

   color
0    red
1   blue
2  green
3    red
4   blue

In [33]:
##create an instance of one hot encoder
encoder=OneHotEncoder()

In [34]:
##fit the encoder to the dataframe and transform the categorical variable
encoded=encoder.fit_transform(df[['color']])

In [35]:
import pandas as pd
encoded_df=pd.DataFrame(encoded.toarray(),columns=encoder.get_feature_names_out())

In [36]:
encoded_df

   color_blue  color_green  color_red
0         0.0          0.0        1.0
1         1.0          0.0        0.0
2         0.0          1.0        0.0
3         0.0          0.0        1.0
4         1.0          0.0        0.0

In [37]:
pd.concat([df,encoded_df],axis=1)

   color  color_blue  color_green  color_red
0    red         0.0          0.0        1.0
1   blue         1.0          0.0        0.0
2  green         0.0          1.0        0.0
3    red         0.0          0.0        1.0
4   blue         1.0          0.0        0.0

##Label Encoding
Label Encoding refers to converting the labels into a numeric form so as to convert them into the machine-readable form. Machine learning algorithms can then decide in a better way how those labels must be operated. It is an important pre-processing step for the structured dataset in supervised learning

In [38]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [39]:
##create a sample dataFrame with a categorical value
df=pd.DataFrame({
    'color':['red','blue','green','red','blue']
})
df

   color
0    red
1   blue
2  green
3    red
4   blue

In [40]:
##Create an instance of labelencoder
encoder=LabelEncoder()
encoder.fit_transform(df['color'])

array([2, 0, 1, 2, 0])

##ordinal Encoding
Ordinal encoding is a technique to transform categorical features into a numerical format. In ordinal encoding, labels are translated to numbers based on their ordinal relationship to one another. For example, if one feature contains - {low, medium, high}, it can be converted into {1,2,3}, where 1 represents low, 2 represents medium, and 3 represents high. It is one of the essential tasks before training an ML model, as many ML algorithms do not support categorical data directly and require them to be converted into a numerical format

In [41]:
import pandas as pd
from sklearn.preprocessing import OrdinalEncoder
##create a sample dataFrame with a categorical value
df=pd.DataFrame({
    'size':['small','medium','large','medium','small','large']
})
df

     size
0   small
1  medium
2   large
3  medium
4   small
5   large

In [42]:
##Create an instance of ordinal encoder
encoder=OrdinalEncoder(categories=[['small','medium','large']])
encoder.fit_transform(df[['size']])

array([[0.],
       [1.],
       [2.],
       [1.],
       [0.],
       [2.]])

## Target Guided Ordinal Encoding 
It is a technique used to encode categorical variables based on their relationship with the target variable. This encoding technique is useful when we have a categorical variable with a large number of unique categories, and we want to use this variable as a feature in our machine learning model.

In Target Guided Ordinal Encoding, we replace each category in the categorical variable with a numerical value based on the mean or median of the target variable for that category. This creates a monotonic relationship between the categorical variable and the target variable, which can improve the predictive power of our model.

In [43]:
import pandas as pd

# create a sample dataframe with a categorical variable and a target variable
df = pd.DataFrame({
    'city': ['New York', 'London', 'Paris', 'Tokyo', 'New York', 'Paris'],
    'price': [200, 150, 300, 250, 180, 320]
})
df

       city  price
0  New York    200
1    London    150
2     Paris    300
3     Tokyo    250
4  New York    180
5     Paris    320

In [44]:
## calculate the mean price for each city
mean_price=df.groupby('city')['price'].mean().to_dict()
mean_price

{'London': 150.0, 'New York': 190.0, 'Paris': 310.0, 'Tokyo': 250.0}

In [45]:
## replace each city with its mean price
df['city_encoded']=df['city'].map(mean_price)
df

       city  price  city_encoded
0  New York    200         190.0
1    London    150         150.0
2     Paris    300         310.0
3     Tokyo    250         250.0
4  New York    180         190.0
5     Paris    320         310.0

In [46]:
import seaborn as sns

sns.load_dataset('tips')

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]